* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2b52;
}
.home {
    font-size: 2rem;
    float: right;
    font-weight: bold;
    margin: 7px 20px 0px 0px;
    color: white;
    text-decoration: none;
}

.home:hover {
    font-size: 2rem;
    float: right;
    font-weight: bold;
    margin: 7px 20px 0px 0px;
    color: rgb(170, 0, 255);
    text-decoration: none;
}

.body {
    margin: 150px 150px 150px 150px;
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(51, 120, 230);
    border-radius: 10px;
}


.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}
.nirdesh {
    font-size: 3rem;
    display: flex;
    float: left;
    margin: 0px 0px 0px 30px;
    color: aliceblue;
    
}
.container {
    padding: 0px 20px 0px 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 4, 0.679);
    background-blend-mode: lighten;
    z-index: 0.2;
}

.body_main {
    padding: 20px 20px 20px 20px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank {
    float: right;
}

.terminal {
    text-align: center;
    padding-left: 260px;
    padding-right: 270px;
}

.circles {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 10px 20px;
    float: left;
}

.red {
    border: 2px solid red;
    border-radius: 50%;
    background-color: red;
    height: 16px;
    width: 16px;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.yellow {
    border: 2px solid yellow;
    border-radius: 50%;
    background-color: yellow;
    height: 16px;
    width: 16px;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.green {
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    height: 16px;
    width: 16px;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.blank {
    float: right;
}
.register {
    font-size: 7rem;
    color: rgba(34, 228, 34, 0.756);
}

.register_head {
    font-size: 1.5rem;
    color: rgb(34, 228, 34, 0.756);
}
.name {
    font-size: 1.5rem;
    color: rgb(255, 187, 0, 0.936);
    padding: 0px 30px 0px 30px;
    margin: 10px;
}

.name_input {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: rgba(255, 187, 0, 0.936);
    font-size: 1.5rem;
    border: 4px solid rgba(127, 139, 242, 0.771);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 50px 20px 50px;
}

.name_fill {
    padding: 10px 400px 10px 10px;
    background-color: rgba(69, 75, 123, 0.616);
    color: white;
    font-size: large;
}



.choice_selection {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: rgba(255, 187, 0, 0.936);
    font-size: 1.5rem;
    border: 3px solid rgba(115, 125, 216, 0.7);
    border-radius: 15px;
    padding: 10px 20px 40px 20px;
    margin: 20px 40px 20px 40px;
}

.margin {
    padding: 50px 0px 50px 0px;
    margin: 50px 0px 0px 0px;
}

.select_year {
    display: flex;
    justify-content: flex-start;
}

.selection {
    display: flex;
    justify-content: space-around;
}

.year_level {
    padding: 10px 50px 10px 50px;
}

#year_selection {
    padding: 10px 250px 10px 10px;
    margin: 0px 50px 30px 50px;
    background-color: rgba(72, 85, 179, 0.616);
    color: white;
    display: flex;
    justify-content: flex-start;
}

.transaction_id {
    font-size: 1rem;
    color: rgba(255, 187, 0, 0.936);
    font-style: italic;
    display: flex;
}

.bijitfave {
    font-size: 1rem;
    font-style: italic;
    color: rgb(178, 178, 229);
}

.code_of_conduct {
    display: flex;
    border: 3px solid rgba(106, 117, 223, 0.771);
    border-radius: 15px;
    color: white;
    padding: 30px;
    margin: 20px 0px 20px 0px;
}

.nirdeshians_manual {
    color: rgba(255, 187, 0, 0.936);
    text-decoration: none;
}

.submit {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #ffc800, #ff4000);
    font-weight: bold;
    margin: 0px 0px 50px 0px;
    cursor: pointer;
}

.submit:hover {
    padding: 10px 100px 10px 100px;
    transition-duration: 0.2s;
    font-size: 2rem;
}

.ending {
    background-color: rgba(31, 47, 80, 0.497);
    padding: 20px 20px 20px 60px;
    display: flex;
    justify-content: space-between;
}

.nirdesh_tech_fest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 50px;
    float: left;
    color: rgba(186, 185, 185, 0.822);
}

.Nirdesh {
    font-family: "myFont";
    font-size: 3rem;
}

.tech_fest {
    font-size: 1.2rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

hr.break {
    border: 1px solid black;
}

.foot-note {
    background-color: rgba(31, 47, 80, 0.497);
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: rgba(198, 195, 195, 0.847);
}

.linkedin {
    color: rgba(198, 195, 195, 0.847);
}

#bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}